.contactIcon {
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: center;
}

.green-tooltip {
  --bs-tooltip-bg: var(--bs-success);
}

.arrowBottomPos {
  top: 68%;
  position: relative;
  font-size: 30px;
  left: 73%;
  color: #000000;
  transition: 0.3s;
}

.imageContainer {
  padding: 30px;
  transition: 0.5s;
}
.imageContainer:hover {
  padding: 0px;
  transition: 0.5s;
}

.contactIcon > div:hover > .arrowBottomPos {
  color: #6348d2;
  transition: 0.3s;
}
